/* Chat template */
.chat-container{
    box-sizing: border-box;
    width: 300px;
    border: 1px solid var(--colorSombraContenedores);
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px -1px 8px 1px var(--colorSombraContenedores);
    -moz-box-shadow: 0px -1px 8px 1px var(--colorSombraContenedores);
    box-shadow: 0px -1px 8px 1px var(--colorSombraContenedores);
    border-radius: 24px 24px 0px 0px;
    position: absolute;
    bottom: 0px;
    right: 35px;
}

.chat-header{
    padding: 5px;
    cursor: pointer;
    border: 2px solid var(--colorBorde);
    z-index: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.chat-header h5{
    margin-bottom: 0;
}

.chat-header .user-pic{
    width: 60px;
}

.chat-body{
    padding: 5px;
    height: 200px;
    overflow-y: auto;
}

.chat-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--colorBorde);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

.chat-footer textarea.input {
    resize: none;
    overflow-y: auto;
}

.chat-footer .btn-ico{
    margin: 0px 5px 0px 5px;
}

/*"Mensaje" IN and OUT messages */

.mensaje-entrante{
    word-wrap: break-word;
    text-align: left;
}

.mensaje-saliente{
    word-wrap: break-word;
    text-align: right;
}
/* Chat template */

.closeChat{
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
}